.calendar{
  &-row{
    border-left: #e0e0e0 1px solid;
    border-bottom: #e0e0e0 1px solid;
  }
  &-element{
    font-size: 14px;
    line-height: 32px;
    border-right: #e0e0e0 1px solid;
    border-top: #e0e0e0 1px solid;
    color: #757575;
    cursor: pointer;
    &:hover{
      background-color: rgba(0,0,0,.05);
    }
  }
  &-day{
    width: 14.285714285714286%;
  }
}
